/******************************************************************
 * Rose Color Scheme for Passion Theme
 *
 * This is an example to help you customize the color of your site
 * 
 *****************************************************************/

/********************************************
 * Background
 ********************************************/
.site-header {
	background: #F64A8A;
}

body {
	background: #fff4f9;
}

.sectionmenu {
	border-bottom: 1px solid #d9d9d9;
	background: #dfdfdf;
}

.featured-content {
	background: #fff4f9;	
}

#footer,
#footer-widget-area {
	background: #333333;
	color: #ccc;
}

.search-container {
	background: #94073d;
	border-color: #880637;
}

.fullwidth-slider .site-header {
	background: rgba(239, 89, 123, 0.3);
}

.fullwidth-slider .sectionmenu-before {
	background: rgba(239, 89, 123, 0.3);	
}
/********************************************
 * Widgets
 ********************************************/

#footer-widget-area .widget-title {
	color: #ddd;
	border-bottom-color: #3e3e3e;
}

.blog-widget .widget-container {
	border-color: #F64A8A;
	background: #ffe3f0;
}

.blog-widget .widget-title {
	background: #F982AE;
	color: #fff;
}

.titlebar {
	border-color: #F64A8A;	
}
/********************************************
 * Top Bar 
 ********************************************/
.contain-to-grid,
.top-bar {
	background: #94073d;
}

/********************************************
 * Section Menu
 ********************************************/
.section-menu > ul > li > a {
/* border-color: f971a4; */
	color: #000;
	font-weight: bold;
}

.section-menu > ul > li:first-child {
/* border-color: f971a4; */
}	